name: Test Deno Library Data.Set

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.3.0]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Lint Data.Set
        run: deno fmt --check
      - name: Build Data.Set
        run: deno run --reload mod.ts
      - name: Test Data.Set
        run: deno test --allow-none
